
/**alle kleuren moeten we wel nog veranderen**/

html, 
body {
    margin: 0;
    background-color: white;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;

}

header {
    background-color: khaki;
    height: 90px;
    margin-bottom: 20px;
}


main {
    height: 100%;
}
.mainleft {
    position: absolute;
    height: 99%;
    width: 75%;
    top: 90px;
    bottom: 180px;
    float: left;
}
.mainright {
    height: 100%;
    width: 25%;
    margin: 0 auto;
    float: right;
    background-color: gray;
    position:absolute;
    top: 90px;
    right: 0;
    text-align: center;

}

#mainvid{
    float: right;
    margin: 5px;
    width: auto;
    height: 157.5px;
    text-align: center;
    border: solid darkred 5px;


}
#mainnews{
    position: static;
    margin-left: 13px;

}

footer {
    background-color: rgb(49, 49, 49);
    height: 50px;
    width: 100%;
    color: white;
    position: fixed;
    bottom: 0;
    padding: 10px;

}

.glrLogo {
    float: right;
    height: 60px;
    width:  auto;
    position: absolute;
    top: 5px;
    bottom: 25px;
    right: 70px;
}
.glrLogoText {
    float: right;
    margin: 0;
    width: auto;
    position: relative;
    bottom: 35px;
    right: 130px;

}

.search {
    height: auto;
    width: 90%;
    position: relative;
    margin-top: 5px;
    margin-left: 5%;
    border: 1px solid black;
    border-radius: 1px;
    display: block;

}

.navbar {
    float: right;
    margin: 10px;

}

.navlink {
    font-weight: bold;
    text-decoration: none;
    transition-duration: 200ms;
    transition-delay: 4ms;
    color: darkred;
    margin-right: 50px;
    position: relative;
    top: 17px;
    font-size: 20px;
    border: 3px solid black;
    padding: 10px;
    border-radius: 5px;
  background-color: khaki;
}
.navlink:hover {
    border-bottom: solid rgb(0, 0, 0);
    background-color: rgb(54, 54, 54);
    color: khaki;
    border-radius: 80px;
    transition-duration: 575ms;
}

.link {
    font-weight: bold;
    text-decoration: none;
    color: rgb(117, 117, 117);
    margin-right: 10px;
    font-size: large;
    padding: 20px 0px 20px 0px;

}
.link:hover {
    color: white;
}

.logo {
    margin: 10px;
    height: 100px;
    width: auto;
    cursor: pointer;

}

.scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
    bottom: 70px;
    height: calc(100vh - 180px);
  text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: khaki;
    margin: 10px;
    text-align: center;
    height: inherit;
   padding-bottom: 60px; 
   text-align: center;
}
  
  .grid-Dier {
    font-size: 328px;
    position: relative;
    width: 	10px;
    height: 50px;
    margin: 30px;
    
   
}
    .fotodier{
        border: solid rgba(255, 255, 255, 0.541) 7px;
   

        width: 220px;
    margin-left: 85px ;
  }
  .fotodier:hover{
    background: red;
    
  }
  
  .grid-Dier{
    font-size: 18px;
  }


  .grid-container-social {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-top: 10px;
  }
  
  .grid-item-social {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(240, 230, 180);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .socialPic{
    width: 200px;

  }



  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 0; /* Sit on top */
    left: 25%;
    top: 200px;
    width: 60%; /* Full width */
    height: 60%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

#druktechart{
  margin-top: 15px;
  font-size: small;

}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    animation-name: closetransition2;
    animation-duration: 0.4s;
  }
  
  .close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
    animation-name: closetransition;
  }

   /* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
  position: relative;
  left: 15%;


}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid rgb(0, 0, 0);
  width: 80%;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0),0 6px 20px 0 rgba(12, 12, 12, 0.19);
  animation-name: animatetop;
  animation-duration: 0.1s
  
}

/* Add Animation */
@keyframes animatetop {
  from {bottom: -100px; opacity: 0}
  to {top: 50px; opacity: 1}
} 

#myBtn {
  cursor: pointer;
}

@keyframes closetransition {
    from {top: 200px; opacity: 1}
    to {top: -300px; opacity: 0}
  } 

  @keyframes closetransition2 {
    from {top: 200px; opacity: 1}
    to {top: -300px; opacity: 0}
  } 


  ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 23%;
  background: #1abc9c;
  text-align: center;
  position: absolute;
  left: 75.02%;
  top: 45%;
  height: 50%;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
  width: 28%;
  position: absolute;
  left: 75.02%;
  top: 66%;
}

.weekdays li {
  display: inline-block;
  width: 10%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  width: 25%;
  position: absolute;
  left: 75.02%;
  top: 70%;
  margin-left: ;
  font-size: 30px;

}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 10%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}